@use './reset.scss';
@use '../components/components.scss';
@use './bootstrap/scss/bootstrap.scss';

body {
  background-color: #f7f9fd;
}

a {
  &:hover {
    color: rgb(248, 76, 76);
  }
}

.fixed-nav {
  &.nav-transparent {
    .header {
      background: transparent;
      a {
        color: #fff;
      }
      .header1__collection-link,
      .header2__collection-link,
      .header3__collection-link {
        .collection-link__sub-link {
          a {
            color: #000;
            &:hover {
              color: red;
            }
          }
        }
      }
    }
  }
  .header {
    position: fixed;
    width: 100%;
    z-index: 20;
  }
}
